<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reserva en MACEMA confirmada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:rel="stylesheet"
          th:href="@{/css/styles.css}" />

</head>
<body>
<div class="container-fluid">
    <h2>Gracias por hospedarse con nosotros!</h2>
    <a href="/">
        <h3>Vuelva a la página de Inicio</h3>
    </a>
</div>

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</body>
</html>